@use "globals";

.navbar {
   background: transparent;
   button {
      color: #fff;
   }
}

.sect-marquee {
   .container-fluid {
      overflow: hidden;
      background-color: #FFF349;
      p {
         padding: 5px 0;
         font-weight: 700;
         font-size: 18px;
         margin-bottom: 0;
         white-space: nowrap;
         overflow: hidden;
         animation: marquee 30s linear infinite;

         @keyframes marquee {
            0% {
               transform: translateX(100%);
            }
            100% {
               transform: translateX(-100%);
            }
         }
         
      }
   }
}

.hero-banner {
   .container {
      padding: 17px 15px !important;
   }
}

.sect-hero-backUp {
   background: url("../img/bg-2.jpg") center no-repeat ;
   background-size: cover;
   height: 90vh;
   display: flex;
   align-items: center;
   .container {
      .text-hero {
         color: #fff;
         width: 65%;
         h1 {
            font-size: 50px;
            text-transform: uppercase;
            span {
               font-size: 65px;
               text-shadow: 2px 2px 2px rgba(255,0,82,.9);
               font-weight: 700;
            }
         }
         p {
            margin-bottom: 40px;
         }
         a {
            padding: 12px 30px;
            font-weight: 600;
            text-transform: uppercase;
            font-size: 20px;
            background-image: -webkit-linear-gradient(0deg, #e2906e 0%, #e83a99 100%);
            box-shadow: 2.419px 9.703px 12.48px 0.52px rgba(232, 58, 153, 0.5);
            transition: all 0.3s;
            border-radius: 25px;
            color: #fff;
            &:hover {
               transform: all 0.3s;
            }
         }
      }
   }
}

.sect-2-home {
   padding-bottom: 70px;
   .container {
      .box-logo {
         background : linear-gradient(90deg, rgba(43, 11, 126, 0.82) 0%, rgba(155, 87, 223, 1) 100%);
         padding: 20px;
         border-radius: 7px;
         margin-bottom: 17px;
         img {
            height: 70px;
         }
      }
      .items-btn {
         margin-bottom: 17px;
         column-gap: 10px;
         a {
            background-color: rgba(250, 240, 215, 0.4);
            text-transform: uppercase;
            font-size: 20px;
            font-weight: 600;
            color: #faf0d6;
            padding: 7px;
            letter-spacing: 1px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 7px;
         }
      }
      .title {
         margin-bottom: 17px;
         color: #fff;
         // border: 1px solid #f3c314;
         border-radius: 5px;
         background-image: linear-gradient(89deg, #5f16a9 0%, #cf15f8 100%);
         h1 {
            padding: 8px;
            margin-bottom: 0;
            font-size: 30px;
            font-weight: 700;
         }
      }
      .date-now {
         p {
            color: #FAF0D7;
            font-size: 23px;
            font-weight: 700;
         }
      }
   }
}

.sect-2-home-backUp {
   padding: 80px 0;
   .container {
      .row {
         img {
            // height: 600px;
            object-fit: cover;
         }
         .items-text-right {
            color: #fff;
            h1 {
               font-size: 50px;
               font-weight: 700;
               text-shadow: 2px 2px 2px rgba(255,0,82,.9);
            }
            p {
               font-weight: 400;
               font-size: 20px;
            }
            .item-desc {
               column-gap: 25px;
               .number  {
                  h3 {
                     display: flex;
                     align-items: center;
                     justify-content: center;
                     height: 70px;
                     font-size: 40px;
                     font-weight: 700;
                     width: 70px;
                     font-size: 25px;
                     background-color: #ff0052;
                     line-height: 60px;
                     border-radius: 50%;
                  }
               }
               .text {
                  h1 {
                     font-size: 25px;
                     color: #fff;
                     text-shadow: none;
                     text-transform: uppercase;
                  }
                  p {
                     margin-bottom: 25px;
                  }
               }
            }
         }
      }
   }
}

.sect-3-home {
   background: url("../img/nuts-img-4-copyright.jpg") no-repeat center;
   background-size: cover;
   height: 65vh;
   display: flex;
   align-items: center;
   .container {
      .text {
         color: #fff;
         h1 {
            text-transform: uppercase;
            font-weight: 700;
         }
      }
      hr {
         color: #fff;
         margin: 40px 0;
      }
      .items-limits {
         margin-bottom: 17px;
         column-gap: 50px;
         .support {
            column-gap: 10px;
            img {
               height: 30px;
               height: 30px;
            }
            h1 {
               font-size: 25px;
               color: #fff;
            }
         }
      }
   }
}

.sect-4-home {
   padding: 80px 0;
   // background: url("../img/bg.jpg") no-repeat center;
   height: fit-content;
   // background-size: cover;
   // position: relative;
   // z-index: -99;
   .bg-game {
      right: 0;
      top: -150px;
      position: absolute;
      z-index: -9999;
   }
   .container {
      .title {
         margin-bottom: 30px;
         h1 {
            text-shadow: 2px 2px 2px rgba(255,0,82,.9);
            font-weight: 600;
            font-size: 45px;
            text-transform: capitalize;
            color: #fff;
         }
      }
      .items-sorting {
         margin-bottom: 20px;
         .btn-search {
            margin-bottom: 17px;
         }
         .input-sort-by {
            position: relative;
            p {
               margin-bottom: 0;
            }
            .form-select {
               position: relative;
            }
         }
      }

      .row {
         .card-games {
            .card-game-images {
               img {
                  // position: relative;
                  border: 10px solid #620edf;
                  box-shadow: 0px 10px 199px 0px rgba(26, 15, 63, 0.5);
                  border-radius: 10px;
                  width: 100%;
               }
            }
            .card-game-content {
               margin: -70px 15px 0 15px;
               position: relative;
               padding: 15px;
               background-color: #5e72eb;
               border-radius: 20px;
               z-index: 10;
               .wrap-content {
                  column-gap: 10px;
                  margin-bottom: 10px;
                  .content-left {
                     .card-image-content {
                        img {
                           width: 60px;
                           height: 60px;
                           border-radius: 15px;
                           box-shadow: 0px 12px 13px 0px rgba(26, 15, 63, 0.46);
                        }
                     }
                  }
                  .content-center {
                     color: #fff;
                     h5 {
                        font-size: 18px;
                        margin-bottom: 5px;
                        max-width: 100%;
                        overflow: hidden;
                        position: relative;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                     }
                  }
               }
               .content-right {
                  background-image: linear-gradient(89deg, #5f16a9 0%, #cf15f8 100%);
                  // display: block;
                  border-radius: 20px;
                  width: 100px;

                  text-transform: capitalize;
                  letter-spacing: 1px;
                  padding: 2px 10px;
                  height: fit-content;
                  h5 {
                     margin-bottom: 0;
                     font-size: 15px;
                     text-align: center;
                     color: #fff;
                     font-weight: 600;
                  }
               }
               button {
                  background-image: linear-gradient(89deg, #5f16a9 0%, #cf15f8 100%);
                  color: #fff;
                  border-radius: 25px;
                  border: 0;
                  font-weight: 700;
                  letter-spacing: 1px;
                  text-transform: uppercase;
               }
            }
         }
      }
   }
}